<div class="container">
  <div class="row">
    <div *ngFor="let p of arr; let i = index">
      <div class="col mt-4 col-sm-2">
        <a href="#">
          <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQ-ZU6dwyZVLrd-dxazJXG0ThEG9zEgGaN_SIR_eE4hMjxf9x5">
            <div class="card-body">
              <h4 class="card-title">doctor</h4>
              <p class="card-text">fdfdfndedfndfndj</p>
            </div>
          </div>
        </a>
      </div>
      <div *ngIf="(i + 1) % 5 === 0" class="w-70"></div>
    </div>
  </div>
</div>