.imgswing{
    max-width: 320px;
    max-height: 350px;
}

.imageclass{
    max-height: 150px;
    max-width: 200px;
}

p {
    font-size: 1em;
  }

a{
    cursor: pointer;
}
  
h5{
    color: rgb(5, 77, 17);
}


@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}