<div class="container">
  <div class="row">
    <div *ngFor="let p of categoryWorker; let i = index">
      <div class="col mt-4 col-sm-2">
        <a href="#">
          <div class="card" style="width: 12rem; height: 20rem">
            <img class="card-img-top imageclass" src="{{p.image}}">
            <div class="card-body">
              <h4 class="card-title">{{p.title}}</h4>
              <p class="card-text"><small>{{p.description}}</small></p>
            </div>
          </div>
        </a>
      </div>
      <div *ngIf="(i + 1) % 5 === 0" class="w-70"></div>
    </div>
  </div>
</div>