<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>payment</title>
    </head>

    <body>
        <h2><b>Payment gateway</b></h2>

        <script src="payment.component.js">
        </script>

        <button class="your-button-class" id="sslczPayBtn"
            token="if you have any token validation"
            postdata="your javascript arrays or objects which requires in backend"
            order="If you already have the transaction generated for current order"
            endpoint="An URL where backend code will initiate the payment to SSLCommerz"> Pay Now
        </button>

          
    </body>

</html>