<div class="container" style="margin: 10%;">
    <div class="row">
        <div class="col-4 bg-light m-2">
            <h4>Professional details</h4>
            <hr>
            <img src="">
        </div>
        <div class="col-7 bg-light m-2">
            <h4>About Me</h4>
            <hr>
            <table>
                <tr>
                    <td><b>Name:</b></td>
                    <td>{{profile.userId.Name}}</td>
                </tr>
                <tr>
                    <td><b>Phone:</b></td>
                    <td>{{profile.userId.Phone}}</td>
                </tr>
                <tr>
                    <td><b>Category:</b></td>
                    <td>{{profile.userId.Category}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>