<div class="border-box">
    <div style="padding-top: 5%; padding-bottom: 10%; padding-left: 10%; padding-right: 10%;">
        <div class=" bg-light m-2" style="padding: 5%;">
            <h4>Professional details</h4>
            <hr>
            <img src="{{profile.userId.Image}}">
        </div>
        <div class="bg-light m-2" style="padding: 5%;">
            <h4>About Me</h4>
            <a href="http://192.168.0.122:4487/workermap/workermap.component.html?_id={{id}}">Go to Map</a>
            <hr>
            <div>
                <p><b>Name:</b>{{profile.userId.Name}}</p>
            </div>
            <div>
                <p><b>Phone:</b>{{profile.userId.Phone}}</p>
            </div>
            <div>
                <p><b>Category:</b>{{profile.userId.Category}}</p>
            </div>
            <div>
                <a [routerLink]="['/profile/',profile.userId._id]"><button class="btn btn-success">Edit Profile</button></a>
            </div>
        </div>
    </div>
</div>