<br/><br/><br/>
<div class="register container">
  <div class="row">
    <div class="col-md-3 register-left">
        <h3>Welcome<br/>To The<br/>MyAdvisor App</h3>
        <a routerLink="/login"><button >Login</button></a><br/>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Apply as an Employee</h3>
          <form #f="ngForm" (ngSubmit)="save(f)"  [formGroup]="registrationForm" class="row register-form">
            <div>   
              <div class="form-group">
                <input type="text" [class.is-invalid]="username.Phone.invalid && username.Phone.touched" formControlName="Phone"  class="form-control align-center" placeholder="Your Phone *"/>
                <small  [class.d-none]="username.Phone.untouched || username.Phone.valid" class="text-danger align-center">
                  Phone number is required
                </small>
              </div>          
              <div class="form-group">
                <input type="password" [class.is-invalid]="username.Password.invalid && username.Password.touched" formControlName="Password" class="form-control align-center" placeholder="Password *"/>
                <small  [class.d-none]="username.Password.untouched || username.Password.valid" class="text-danger align-center">
                  Password is required
                </small>
              </div>

              <div class="form-group">
                <input type="password" [class.is-invalid]="username.confirmPassword.invalid && username.confirmPassword.touched" formControlName="confirmPassword" class="form-control align-center"  placeholder="Confirm Password *"/>
                <small  [class.d-none]="username.confirmPassword.untouched || username.confirmPassword.valid" class="text-danger align-center">
                  Password do not match
                </small>
              </div>

              <div class="form-group">
                <select id="category" class="form-control align-center">
                  <option value="">Category</option>
                  <option value="worker">Worker</option>
                </select>
              </div>

              <button type="submit" class="btonRegister">Register</button>
            </div>  
           
          </form>
        </div>
      </div>

      
    </div>
  </div>
</div>
