<div class="wrapper fadeInDown">
  <div class="formContent">
    <div class="fadeIn">
      <h3><b>Please Sign up first</b></h3><br/><br/>
    </div>
    <div style="font-size: 3vw;"><a routerLink="/workerlogin"><button  class="btn custom btn-success btn-lg btn-block bg-dark-light">Worker Login <i class="fa fa-arrow-right pl-4"></i></button></a></div>
    <div class="py-2" style="font-size: 3vw;"><a routerLink="/userlogin"><button class="btn custom btn-success btn-lg btn-block bg-dark-light">User Login<i class="fa fa-arrow-right pl-4"></i></button></a></div>
    
  </div>
</div>