<form class="container text-center" style="padding-top:15%; padding-left: 20%; padding-right:20%; padding-bottom: 50%;" #f="ngForm" (ngSubmit)="passwordUpdate(f)"  [formGroup]="passwordForm">
    <small class="text-danger">{{str}}</small>
    <h4>Choose new password</h4><br/>
    <div class="form-group">
        <input type="password" [class.is-invalid]="username.Password.invalid && username.Password.touched" formControlName="Password" class="form-control text-center" placeholder="Password *"/>
        <small  [class.d-none]="username.Password.untouched || username.Password.valid" class="text-danger">
            Password is required and must be at least 8 characters long
        </small>
    </div>

    <div class="form-group">
        <input type="password" [class.is-invalid]="username.confirmPassword.invalid && username.confirmPassword.touched" formControlName="confirmPassword" class="form-control text-center"  placeholder="Confirm Password *"/>
        <small  [class.d-none]="username.confirmPassword.untouched || username.confirmPassword.valid" class="text-danger">
            Password do not match
        </small>
    </div><br/>
    <div class="text-center">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>
