<div style="background: #92E3E3; padding-top: 15%;">
<h3 class="text-center text-light">Upadate Your Profile</h3>
<div style="padding-left: 15%; padding-right: 15%; padding-top: 5%; padding-bottom: 40%;">
    
    <form #f="ngForm" (ngSubmit)="updateProfile(f)"  [formGroup]="registrationForm" class="register-form">
        <div class="text-light">  
            <div class="form-group">
                <label for="Name"><b>Username</b></label>
                <input [(ngModel)]="formdata.userId.Name" type="text" formControlName="Name"  class="form-control align-center"/>
                <small  [class.d-none]="username.Name.untouched || username.Name.valid" class="text-danger align-center">
                    Username is required
                </small>
            </div>  
            <div class="form-group">
                <label for="Phone"><b>Phone</b></label>
                <input [(ngModel)]="formdata.userId.Phone" type="text" formControlName="Phone"  class="form-control align-center"/>
                <small  [class.d-none]="username.Phone.untouched || username.Phone.valid" class="text-danger align-center">
                    Phone number is required
                </small>
            </div>          


            <div class="form-group">
                <label for="Category"><b>Category</b></label>
                <select [(ngModel)]="formdata.userId.Category" id="category" formControlName="Category" class="form-control align-center">
                    <option value="">{{formdata.userId.Category}}</option>
                    <option value="1">ডাক্তার</option>
                  <option value="2">ইলেক্ট্রিশিয়ান</option>
                  <option value="3">বাইক মেকানিক</option>
                  <option value="4">গাড়ি/কার মেকানিক</option>
                  <option value="5">কলের মিস্ত্রী</option>
                  <option value="6">রাধুনী/বাবুর্চী</option>
                  <option value="7">টিভি/ফ্রিজ/এসি মেকানিক</option>
                  <option value="8">স্টিল/আলমারির মিস্ত্রী</option>
                  <option value="9">কাঠমিস্ত্রী</option>
                  <option value="10">রাজমিস্ত্রী</option>
                </select>
                <small  [class.d-none]="username.Category.untouched || username.Category.valid" class="text-danger align-center">
                    Category is required
                </small>
            </div>
            <br>
            <div class="text-center">
            <button type="submit" class="btn btn-success align-center">Update</button>
            </div>
        </div>  

    </form>
</div>
</div>