<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="map.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src='../js/socket.io.js'></script> -->
    <!-- <script src="map.component.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://localhost:4487/backend/socket/socket.io.js"></script>

    <script>
        $(function() {
            $("#navbarComponent").load("../navbar/navbar.component.html");

            // const host = "http://localhost:4487";

            // var socket = io.connect(host);
            // socket.on('connect', function() {
           
            // })

        });
    </script>
</head>

<body>
    <!-- <div id="navbarComponent"></div> -->

    <nav class="navbar navbar-light bg-light">
        <input type=button class="btn btn-warning btn-sm" onClick="location.href='http://127.0.0.1:4200/'" value='Home'>

        <select id="singleSelectTextDDJS" class="form-control" onchange="singleSelectChangeText()">
        <option value="all">select your category</option>
        <option value="0">কারেন্টের মিস্ত্রি</option>
        <option value="1">গাড়ির মিস্ত্রি</option>
        <option value="2">গ্যাসের চুলার মিস্ত্রি</option>
        <option value="3">পানির লাইনের মিস্ত্রি</option>
    </select>
        <!--  
    <input type="text" id="textFieldTextJS" class="form-control" 
    placeholder="get value on option select"> -->
    </nav>

    <div id='map'></div>
    <script src="map.component.js"></script>

    <div id="instructions"></div>

    <div id="ratingPopup"></div>
    <!-- <iframe id="ratingPopup" src="../RatingBar/ratingbar.component.html"></iframe> -->
    <!-- <div id="maleSymbol">
        <i class="fa fa-male"></i>
    </div> -->
</body>

</html>