<!-- Footer -->
<footer class="page-footer font-small pt-4 textcolor">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto textcenter">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase">Find Workers</h5>
        <div><a href="#" style="color:white"><i class="fa fa-question-circle p-2" style="color: white;" aria-hidden="true"></i>Help center</a></div>
        <div><a href="#" style="color:white"><i class="fa fa-expeditedssl p-2" style="color: white;" aria-hidden="true"></i>Privacy</a></div>
        <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto textcenter">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase">About us</h5>

        <div>
          <div>
            <a href="#!" style="color:white">Link 1</a>
          </div>
          <div>
            <a href="#!" style="color:white">Link 2</a>
          </div>
          <div>
            <a href="#!" style="color:white">Link 3</a>
          </div>
          <div>
            <a href="#!" style="color:white">Link 4</a>
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto textcenter">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase">Links</h5>

        <div class="list-unstyled">
          <div>
            <a href="#!" style="color:white">Link 1</a>
          </div>
          <div>
            <a href="#!" style="color:white">Link 2</a>
          </div>
          <div>
            <a href="#!" style="color:white">>Link 3</a>
          </div>
          <div>
            <a href="#!" style="color:white">Link 4</a>
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->